# SPDX-FileCopyrightText: Copyright (c) 2026, Bayerische Motoren Werke Aktiengesellschaft (BMW AG)
# SPDX-License-Identifier: MPL-2.0
[submodule "lib/mcap"]
	path = lib/mcap
	url = https://github.com/foxglove/mcap.git
[submodule "lib/osi-cpp"]
	path = lib/osi-cpp
	url = https://github.com/OpenSimulationInterface/osi-cpp.git
