# SPDX-FileCopyrightText: Copyright (c) 2026, Bayerische Motoren Werke Aktiengesellschaft (BMW AG)
# SPDX-License-Identifier: MPL-2.0
[submodule "submodules/mcap"]
	path = submodules/mcap
	url = https://github.com/foxglove/mcap.git
[submodule "submodules/osi-cpp"]
	path = submodules/osi-cpp
	url = https://github.com/OpenSimulationInterface/osi-cpp.git
[submodule "submodules/osi-python"]
	path = submodules/osi-python
	url = https://github.com/OpenSimulationInterface/osi-python.git
