# SPDX-License-Identifier: MPL-2.0
# SPDX-FileCopyrightText: Copyright (c) 2026, Bayerische Motoren Werke Aktiengesellschaft (BMW AG)

name: Format Check

on:
  workflow_call:

jobs:
  format-check:
    name: clang-format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: false

      - name: Install clang-format
        run: |
          sudo apt-get update
          YQ_VERSION=v4.52.2
          sudo curl -L -o /usr/local/bin/yq https://github.com/mikefarah/yq/releases/download/${YQ_VERSION}/yq_linux_amd64
          sudo chmod +x /usr/local/bin/yq
          yq -r '.dependencies.dev.apt[]' .github/dependencies.yml | xargs sudo apt-get install -y

      - name: Install Hooks
        run: bash scripts/setup-dev.sh

      - name: Check C++ formatting
        run: .git/hooks/pre-commit --all-files --skip-tidy
